---
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-zinc-900">
    <div
      class="mx-auto p-4 prose prose-invert prose-headings:pb-4 prose-headings:border-b prose-headings:border-zinc-500 prose-img:m-1 prose-img:inline"
    >
      <h1 style={`color:${frontmatter.color}`}>
        {frontmatter.title}
      </h1>
      <slot />
    </div>
  </body>
</html>
